<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>ngJSMusicPlayer</title>

    <!-- Styling -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap" rel="stylesheet">

</head>

<body ng-controller="appCtrl">

    <!-- Initalize SoundManager -->
    <sound-manager></sound-manager>

    <!-- Background -->
    <img id="bg" ng-src="{{currentPlaying.albumart}}" />

    <!-- Navbar (Top) -->
    <div class="navbar-fixed">
        <nav id="nav-top">
            <div class="nav-wrapper black">
                <a href="#!" class="brand-logo"><i class="material-icons">library_music</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a ng-click="showAbout()">About</a></li>
                </ul>
                <form id="search-bar">
                    <div class="input-field">
                        <input id="search" type="search" ng-model="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>

    <!-- Music Player (Bottom) -->
    <div class="navbar-fixed" id="nav-bottom" >
        <nav id="music-player">
            <div class="nav-wrapper black row">
                <img ng-if="currentPlaying.title" id="navimg" class="col s1" ng-src="{{ currentPlaying.albumart }}" />
                <div class="col s1" ng-if="!currentPlaying.title"></div>
                <div class="col s2" id="nav-metadata">
                    {{ currentPlaying.title }} <br/> {{ currentPlaying.artist }}
                </div>
                <div class="col s5">
                    <div class="progress player-seek grey darken-2" seek-track>
                        <div class="determinate white" ng-style="{width : ( progress + '%' ) }"></div>
                    </div>
                </div>
                <div class="col s2 player-ctrl row">
                    <i id="prev" class="material-icons col" prev-track>skip_previous</i>
                    <i id='a' ng-show="!isPlaying" class="material-icons col large-icons" play-music>play_arrow</i>
                    <i id='b' ng-show="isPlaying" class="material-icons col large-icons" pause-music>pause</i>
                    <i id="next" class="material-icons col" next-track>skip_next</i>
                </div>
                <div class="col s2 player-ctrl row">
                    <i class="material-icons col" ng-show="!repeat" repeat-music>repeat</i>
                    <i class="material-icons col" ng-show="repeat" repeat-music>repeat_on</i>
                    <i id="vu" ng-show="!mute" class="material-icons col" mute-music>volume_up</i>
                    <i id="vo" ng-show="mute" class="material-icons col" mute-music>volume_off</i>
                    <i id="c" class="material-icons col" music-volume data-type="increase">add</i>
                    <i id="d" class="material-icons col" music-volume data-type="decrease">remove</i>
                </div>
            </div>
        </nav>
    </div>

    <!-- About -->
    <div ng-show="about" id="aboutPage" class="row customColor fredoka-text">
        <div class="col s8 offset-s2 text-white">
            <h4>ngJSMusicPlayer - AngularJS Project</h4><br>
            <span class="material-symbols-outlined xlarge-icons">group</span>.. <h5>Group Members:</h5><br><br>
        </div>
        <div class="col s6 offset-s2">
            <ul class="collection customBorder">
                <li class="collection-item avatar">
                    <img src="src/img/a1.jpg" class="circle">
                    <span class="title">Suraj Kr Das</span>
                    <p>USN: 2KE21CS113
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <br>
                <li class="collection-item avatar">
                    <!-- <i class="material-icons large-icons green circle">account_circle</i> -->
                    <img src="src/img/a2.jpg" class="circle">
                    <span class="title">Srinidhi Chappar</span>
                    <p>USN: 2KE21CS109
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <br>
                <li class="collection-item avatar">
                    <!-- <i class="material-icons large-icons green circle">account_circle</i> -->
                    <img src="src/img/a3.jpg" class="circle">
                    <span class="title">Shripad Kulkarni</span>
                    <p>USN: 2KE21CS102
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <br>
                <li class="collection-item avatar">
                    <!-- <i class="material-icons large-icons green circle">account_circle</i> -->
                    <img src="src/img/a4.jpg" class="circle">
                    <span class="title">Shrinivas Masti</span>
                    <p>USN: 2KE21CS100
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            </ul>
            <br>
            <br>
            <br>
            <br><br>
        </div>
        <div class="col s3 collection customBorder">
            <div class="collection-item text-grey">
                <span class="title"><h5>About</h5></span>
                <p>ngJSMusicPlayer uses angularJS, materialize (CSS and JS utilizing jQuery), angular-soundmanger2 (uses Scott Schiller's SoundManager2), google fonts and icons to give superior experience for the application.</p>
                <p>The angular-soundManager2 JS file is optimized to better functionality and multiple functionalities is introduced in local script.</p>
                <br><h6>Guided by: Prof. Vinoda D B</h6>    
            </div>
        </div>
    </div>

    <!-- Song Cards -->
    <div ng-show="!about" id="scard" class="container row rubik-text">
        <div class="col s9">
            <ul class="tabs darken-1 customColor">
                <li class="tab col s6"><a class="active" href="#AllSongs">All Songs</a></li>
                <li class="tab col s4 offset-s2 disabled" ng-if="!(playlist.length>2)" ng-click="pRecomm()"><a href="#Recommended">Recommended</a></li>
                <li class="tab col s4 offset-s2" ng-if="playlist.length>2"><a href="#Recommended" ng-click="pRecomm()">Recommended</a></li>
            </ul>
        </div>
        <div id='AllSongs' class="col s9">
            <div class="card horizontal" ng-mouseover="songHover = true" ng-mouseleave="songHover = false" ng-repeat="song in songs | filter: search">
                <div class="card-image">
                    <img src="{{ song.albumart }}">
                </div>
                <div class="card-stacked black text-white">
                    <div class="card-content">
                        <h5>{{ song.title }}</h5><br/>
                        <span class="material-symbols-outlined">artist</span> 
                        <i>
                            {{ " "+song.artist }}<br>
                            <span class="material-symbols-outlined">album</span>{{ ' '+song.album }}<br/>
                        </i>
                        <div class="right" ng-show="songHover">
                            <i class="material-icons" music-player add-song="song">add_circle</i>
                            <i class="material-icons" music-player="play" add-song="song">play_arrow</i>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div id='Recommended' class="col s9">
            <div class="card black text-white fredoka-text" style="opacity: 0.85;"><div class="card-content"><span class="card-title">Recommended Songs:</span></div></div>
            <div class="card horizontal" ng-mouseover="songHover = true" ng-mouseleave="songHover = false" ng-repeat="song in songs | filter: gen">
                <div class="card-image">
                    <img src="{{ song.albumart }}">
                </div>
                <div class="card-stacked black text-white">
                    <div class="card-content">
                        <h5>{{ song.title }}</h5><br/>
                        <p>
                            <span class="material-symbols-outlined">artist</span> 
                            <i>
                                {{ " "+song.artist }}<br>
                                <span class="material-symbols-outlined">album</span>{{ ' '+song.album }}<br>
                            </i>
                        </p>
                        <div class="right" ng-show="songHover">
                            <i class="material-icons" music-player add-song="song">add_circle</i>
                            <i class="material-icons" music-player="play" add-song="song">play_arrow</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Playlist -->
        <div class="col s3 rubik-text" style="padding-top: 5%;">
            <div class="row" style="padding-top: 5%;">
                <div class="col s15">
                    <div>
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title"><h5 style="color: rgb(37, 253, 206);font-family: Nabla, system-ui;">Playlist</h5></span>
                                <ul>
                                    <li ng-repeat="song in playlist">
                                        <a class="sname" play-from-playlist="song" ng-if="currentPlaying.id != song.id">{{ song.title }}</a>
                                        <a class="sname active" play-from-playlist="song" ng-if="currentPlaying.id == song.id">{{ song.title }}</a>
                                        <a class="rem" remove-from-playlist="song" data-index="{{$index}}">
                                            <i class="material-icons" style="bottom: 0;">close</i>
                                        </a>
                                        &nbsp;
                                        <span class="arrow" ng-if="currentPlaying.id == song.id">    &#8592;</span>
                                    </li>
                                </ul>
                                <div class="padd">
                                    <i id="pall" play-all="songs" class="material-icons large-icons" ng-mouseover="ipa = true" ng-mouseleave="ipa = false">playlist_play</i>
                                    <i id="addall" play-all="songs" data-play="false" class="material-icons large-icons" ng-mouseover="iaa = true" ng-mouseleave="iaa = false">playlist_add</i>
                                    <i clear-playlist class="material-icons large-icons" ng-mouseover="icp = true" ng-mouseleave="icp = false">playlist_remove</i>
                                    <i prev-track class="material-icons large-icons" ng-mouseover="ipt = true" ng-mouseleave="ipt = false">skip_previous</i>
                                    <i next-track class="material-icons large-icons" ng-mouseover="inxt = true" ng-mouseleave="inxt = false">skip_next</i>
                                    <i class="material-icons medium-icons" ng-click="sharePlaylist()" ng-mouseover="ish = true" ng-mouseleave="ish = false">share</i><br>
                                    <span ng-show="!ipa&&!iaa&&!icp&&!ipt&&!inxt&&!ish"><br></span>
                                    <span ng-show="ipa">Play All</span>
                                    <span ng-show="iaa">Add All</span>
                                    <span ng-show="icp">Clear Playlist</span>
                                    <span ng-show="ipt">Play Previous</span>
                                    <span ng-show="inxt">Play Next</span>
                                    <span ng-show="ish">Share Playlist</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>

    <!-- Play Next Card -->
    <div id="NextCard" class="NextCard rubik-text">
        <div class="row" ng-if="(playlist.indexOf(currentPlaying) != playlist.length-1) || ( repeat && isPlaying )">
            <div class="col s4 offset-s7">
                <div class="card horizontal">
                    <div class="card-image">
                        <img ng-src="{{playlist[(playlist.indexOf(currentPlaying)+1)%playlist.length].albumart}}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content teal">
                            <p>Playing Next:</p>
                            <h5>{{playlist[(playlist.indexOf(currentPlaying)+1)%playlist.length].title}}</h4>
                            <h6>{{playlist[(playlist.indexOf(currentPlaying)+1)%playlist.length].artist}}</h5>
                            <a ng-click="pNext()" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">play_arrow</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Volume Bar -->
    <div class="row">
        <div id="vbar" class="col s2 offset-s10">
            <!-- Determinate VolumeBar -->
            <!-- <div class="progress player-seek grey darken-2" volume-bar>
                <div class="determinate white" ng-style="{width : ( volume + '%' ) }"></div>
            </div> -->
            <!-- Range VolumeBar -->
            <p class="text-white">Volume: {{ volume.toString().split('.')[0] }}</p>
            <p class="range-field">
                <input name="range" type="range" min="0" max="100" ng-model="value" volume-bar>
            </p>
        </div>    
        <div id="in-de-vbar" class="col s2 offset-s9 black">
            <span class="fredoka-text text-white" style="left: 25%;top: 25%;position: relative;">Volume</span>
            <span id="volTen" class="material-symbols-outlined xlarge-icons text-white">timer_10</span>
            <span ng-show="incr" class="material-icons text-white" id="cr">add</span>
            <span ng-show="decr" class="material-icons text-white" id="cr">remove</span>
        </div>
    </div>

    <div class="row dev" style="text-align: center;">
        <div class="col-md-12">
            <p>
                Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})
            </p>
            <div class="col dev">
                <div class="seekBase progress" seek-track>
                    <div class="seekLoad progress-bar" ng-style="{width : ( progress + '%' ) }"></div>
                </div>
            </div><br />
            <button play-music>Play</button> -
            <button pause-music>Pause</button> -
            <button stop-music>Stop</button> -
            <button repeat-music>Repeat ({{ repeat }})</button> -
            <button play-pause-toggle data-play="Play!" data-pause="Pause!">Play Toggle</button> Is Playing: {{ isPlaying }}<br/>
            <br/>Volume: {{ volume }} - <button mute-music>Mute ({{ mute }})</button>
            <br/><br/><br/><br/>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="dist/angular-soundmanager2.min.js"></script>
    <script src="assets/app.js"></script>
    
</body>

</html>
