body {
    background-color: #212626;
}

nav form {
    margin-left: 20vw;
    width: 40vw;
}

h5 {
    display: inline;
}

.text-white {
    color: white;
}

.text-grey {
    color: rgba(69, 69, 69, 0.69);
}

.customBorder {
    border: none;
}

.collection-item {
    border-radius: 10px;
}

.v-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.large-icons {
    font-size: xx-large !important;
}

.xlarge-icons {
    font-size: xx-large !important;
    transform: scale(1.5);
}

.player-seek {
    margin-top: 30px;
}

/* .player-ctrl > {

} */

.material-icons {
    cursor: pointer;
}

.brand-logo {
    margin-left: 1em;
}

.horizontal {
    height: 130px;
    opacity: 0.85;
}

.horizontal > .card-image > img {
    height: 130px;
}

.card-stacked > .card-content {
    padding: 0.5em;
}

.customColor {
    background: linear-gradient(135deg, rgba(101, 41, 151, 0.9),rgba(73, 57, 153, 0.5));
}

#nav-bottom {
    bottom: 0 !important;
    position: fixed;
    opacity: 0.75;
}

#nav-metadata {
    margin-top: 12px;
    line-height: 20px;
}

#bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    filter: blur(32px);
    opacity: 0.75;
}

.arrow{
    /* text-size-adjust; */
    color: white;
    font-size: large;
}

.rem{
    color: #ba0000;
    text-shadow: rgba(175, 0, 0, 0.5);
}

.rem:hover{
    color: #ff0000;
    text-shadow: rgba(175, 0, 0, 0.9);
    cursor: pointer;
}

.sname{
    color: rgb(201, 205, 3);
}

.sname.active{
    color: rgb(251, 255, 3);
}

.sname:hover{
    color: rgb(251, 255, 3);
    text-shadow: rgba(201,205,3,0.5);
    cursor: pointer;
}

#vbar {
    position: fixed;
    border: #090a0a solid;
    border-radius: 10px;
    display: none;
    bottom: 10%;
    background-color: #090a0a;
    opacity: 0.75;
}

#in-de-vbar {
    position: fixed;
    bottom: 10%;
    height: 50px;
    border: #090a0a solid;
    border-radius: 10px;
    display: none;
    background-color: #090a0a;
    opacity: 0.75;
}

.navimg {
    background-size: contain;
}

.row.dev {
    background-color: aliceblue;
    display: none;
}
.NextCard {
    display: none;
    position:sticky;
    border-radius: 10px;
    display: none;
    bottom: 15%;
    right: 0;
    opacity: 0.85;
}
#scard {
    top: 20%;
    padding-bottom: 5%;
}

.fredoka-text {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
#volTen {
    bottom: 11%;
    right: 13.5%;
    position: fixed;
}
.material-icons#cr {
    bottom: 11.5%;
    right: 12%;
    position: fixed;
}
.card-content.white-text {
    width: 400px;
}

.rubik-text {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

html {
    scrollbar-width: none;
}

.aboutPage {
    padding-top: 10%;
}